<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
    <table>
    <tr>
        <th><form method="post" th:action="@{/job/guardar}">
            <label>Encuentra tu vuelo preferido</label>
            <input name="nombre" />
            <br>

        </form></th>
        <th><input type="submit" value="Enviar" /></th>
        <th>               &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;                         Explorar</th>
        <th>                  &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;                                      Mis vuelos </th>
        <th>                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;   |     &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;                      Inicia sesión </th>
    </tr>
    </table>

    <div></div>
        <div></div>
    <table>
    <tr>
        <td>Vuelos&emsp;</td>
        <td>Paquetes&emsp;</td>
        <td>Hoteles&emsp;</td>
        <td>Autos&emsp;</td>
        <td>Seguros&emsp;</td>
        <td>Upgrade&emsp;</td>
        <td>Centro de Ayuda</td>
    </tr>
        </table>
</div>

<img src="Muyuna-lodge-Iquitos.webp">

</body>
</html>